# ----------------------------
# DATABASE CONFIGURATION
# ----------------------------
# DIRECT_DATABASE_URL="postgresql://postgres@localhost:5432/sigap-new?schema=public"
# DATABASE_URL="postgresql://postgres@localhost:5432/sigap-new?schema=public"
DIRECT_DATABASE_URL="postgresql://azkal:azkal@165.22.106.176:5432/sigap?schema=public"
DATABASE_URL="postgresql://azkal:azkal@165.22.106.176:6432/pool_sigap?pgbouncer=true&connection_limit=100"

# DIRECT_DATABASE_URL="postgresql://azkal:azkal@165.22.106.176:5432/dev?schema=public"
# DATABASE_URL="postgresql://azkal:azkal@165.22.106.176:6432/pool_dev?pgbouncer=true&connection_limit=100"
# ----------------------------
# APPLICATION CONFIGURATION
# ----------------------------
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_VERSION=2.0.0
NEXT_PUBLIC_IS_PRODUCTION=production
NODE_ENV='production'

# ----------------------------
# AUTHENTICATION
# ----------------------------
AUTH_SECRET="whz6XkDZbDnJJu7+mXV+/IjGTQZA7xg1d0uViDouAa0="
AUTH_TRUST_HOST=http://localhost:3000
NEXTAUTH_URL=http://localhost:3000

# ----------------------------
# TELEGRAM BOT
# ----------------------------
TELEGRAM_BOT_TOKEN=7591311605:AAGCV_kTGyKes4Ng1Fq9MM1iSk808NvY-M8
TELEGRAM_BOT_TOKEN_REPORT=
TELEGRAM_CHAT_ID=404000198

# ----------------------------
# REDIS CONFIGURATION
# ----------------------------
REDIS_HOST=
REDIS_PORT=6379
REDIS_PASSWORD=
